version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: zerde-app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/zerde-kidd-house
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_MAIL_USERNAME: elzat7@ya.ru
      SPRING_MAIL_PASSWORD: uutkrdjiectrgnpj
      TELEGRAM_BOT_USERNAME: zerde_kidd_house_bot
      TELEGRAM_BOT_TOKEN: 7569987591:AAHLdh0f7XBo-1GSoRi7aCII5iInZt5P2Xw
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql-8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: zerde-kidd-house
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
